
table#tableUsers {
    
  margin:12px 0 12px 20px;   
}

div#newForm {
   width:400px; 
    
}


div#editForm {
   width:400px; 
    
}

input#index {
    size:10px;
    width:10px;
    height:12px;
}


td.adminRow {
    
    color: red;
}



td.adminRowPwd {
    
   color: white;  
   font-size:6px;
}

#controlBar {
   display:inline-block;
   position:relative;
   margin:20px 0 0 20px;
  
   width:360px;
   padding:2px 20px 2px 20px;
    }
    
  #controlBar input#newBtn, input#deleteBtn, input#editBtn, input#reloadBtn {
        width:60px;
        margin:2px 10px 2px 10px;
      
  }
  
  
  label {
  display: block;
  float: left;
  width: 60px;
   margin:0 10px 0 10px;
}

input {
    
 margin:2px 10px 2px 10px;   
    
}