@import url(typography.css);
@import url(forms.css);


* {
    outline-style: none;
}

body { 
    margin:0; 
    padding:0; 
    background : #010100; 
}

#contentTwitfeed {
  display:block;   
  height:70%;  
   overflow-x:hidden; overflow-y:scroll;
  width:90%;
    
}


#header {
    background: url(../images/header-curtain.png) repeat-y bottom center #010100;	
    border: 1px solid #5C5C45;
    height: 70px;
}



#header-topbar {
     background: url(../images/header-splash-bg.png) repeat-x bottom center;
    display:block;
    height:30px;
    padding: 0 0 0 10px;
    color: #DDDDDD;
    background:#0b0f07;
    width:100%;
}


#header-topbar .navigation {
    display:inline-block;
    position:absolute;
    right:4%;
    margin-top:4px;
    top:0;
    width:64%;
    padding-right:10px;
    
}


#header-topbar form.search {
    display:inline-block;
    position:absolute;
    height:22px;
    width:260px;
     margin:0 14px 0 5px;
     left:380px;
     
}


#header-topbar form.search input {
    position:absolute;
     margin:0 4px 0 6px;
    top:0;
    right:0;
    float:right;  
}

#header-topbar form.search button#searchButton {
    position:relative;
    margin:4px 4px 0 6px;
    top:0;
    float:left; 
    
}

.navigation a {
    display:inline-block;
    margin-top: 4px;
    color: #d8d8d8;
    text-decoration:none;
    padding: 0 12px 0 5px;
  
}

.navigation a.register {
     position:absolute;
  left:260px;   
}

.navigation a.login {
     position:absolute;
 left:200px;      
}
.navigation a.home {
     position:absolute;
 left:120px;       
}
.navigation a.logout {
     position:absolute;
 left:180px;       
}


#menu-username {
    display:inline-block;
    position:absolute;
    color: red;
    float: right;
    margin-top: 4px;
    left:264px;
}

#header-splash {
    text-align:center;
   
}

#logo-splash {
    position:relative;
    top:4px;
}

#logo img {
    padding: 0 0 0 10px;
}

#content {
    padding: 10px;
  background: url(../images/header-splash-bg.png) repeat-x bottom center;   
}



li.imagedItem {
    
   padding:10px 0 10px 0; 
    
}



div.introText {
    
    background-color: gainsboro;
    padding: 20px;
    margin:4%;
    height:40%;
    width:60%;
}
div.introText p {
      padding: 6px; 
      font-weight:600;
      font-size : 14px;
      letter-spacing:1px;
    
}

#footer {
    text-align:center;
    color: #999999;
    font-size: 12px;
    padding: 10px;
    clear:both;
    position:absolute;
    bottom:0;
}

#footer img {
    padding: 10px;
}


#username {
    color: red;
    font-weight: bold;
}


.message {
    color: red;
    text-align: center;	
}

.login-form {
    position:fixed;
    float:right;
    display: inline-block;
    padding: 5px;
    width: 280px;
    height: 160px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    right:20px;
    top:0px;
}

.login-form fieldset {
    border:0;	
}

.login-form legend {
    margin: 0px;
    padding: 0px;
    text-align: left;
}



.login-form input {
    float: right;
}

